*,
*:before,
*:after {
  box-sizing: border-box;
}

.button-container {
  display: flex;
}

.button {
  display: block;
  padding: var(--fn-sm);
  background: transparent;
  font-family: var(--tertiary-font);
  color: var(--quaternary--);
  text-decoration: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: all 0.35s;
  margin-top: 15px;
  margin-right: 10px;
  border: 2px solid var(--quaternary--);
}

.button-1:hover {
  color: var(--tertiary--);
  border: 2px solid var(--tertiary--);
  font-weight: 500;
  cursor: pointer;
}

.button-2:hover {
  color: var(--tertiary--);
  border: 2px solid var(--tertiary--);
  font-weight: 500;
  cursor: pointer;
}
.button-1:hover:before,
.button-1:hover:after {
  top: 0;
}

/* effects */
.effect:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.effect:hover {
  padding-right: 24px;
  padding-left: 8px;
  cursor: pointer;
}

.effect:hover:after {
  opacity: 1;
  right: 10px;
}

@media screen and (max-width: 440px) {
  .button {
    font-size: clamp(15px, 6vw, 18px);
  }
}
