.Experience-Wrapper {
  background-color: var(--primary--);
  margin-bottom: 10%;
}

.Experience-Container {
  display: block;
  box-sizing: border-box;
  width: 70vw;
  margin: 0 15%;
  padding-bottom: 2%;
  border-bottom: 2px solid rgb(152, 152, 152);
}

.Experience-Container h2 {
  padding-top: 2%;
  font-size: clamp(30px, 4vw, 60px);
  font-family: var(--main-font);
  margin-bottom: 2.5%;
  color: var(--tertiary--);
}

.Experience-Container p {
  font-family: var(--tertiary-font);
  font-size: clamp(16px, 3vw, 23px);
  color: var(--secondary--);
}
