.Experience-Container {
  display: block;
  box-sizing: border-box;
  width: 70vw;
  margin: 0 15%;
  padding-bottom: 2%;
  border-bottom: 2px solid rgb(152, 152, 152);
}

.Experience-Container h2 {
  font-size: 5rem;
  font-family: var(--main-font);
  margin-bottom: 2.5%;
  color: var(--tertiary--);
}

.Experience-Container p {
  font-size: 1.25em;
  color: rgb(152, 152, 152);
}
