.home-wrapper {
  height: 100vh;
  overflow: hidden;
}

.about-wrapper {
  /* border: 2px blue solid; */
  display: flex;
  justify-content: space-between;
}

.experience-wrapper {
  /* border: 2px solid blue; */
}
