.about-wrapper {
  background-color: var(--primary--);
}

.Experience-Wrapper {
  background-color: var(--primary--);
}

.Project-Wrapper {
  margin-top: 15%;
  padding: 0 11.3%;
  background-color: var(--primary--);
}

.contact-wrapper {
  border: 2px blue solid;
}
