.about-wrapper {
  border: 2px blue solid;
  justify-content: space-between;
  background-color: var(--primary--);
}

.experience-wrapper {
  /* background-color: grey; */
  margin-bottom: 10%;
}

.project-wrapper {
  padding: 11.3%;
}

.contact-wrapper {
  border: 2px blue solid;
}
