.Project-Wrapper {
  margin: 15% 12%;
}

.Project-Container {
  display: block;
  box-sizing: border-box;
  width: 70vw;
  margin: 0 5%;
  margin-bottom: 5%;
}

.Project-Container h2 {
  padding-top: 2%;
  font-size: clamp(30px, 4vw, 60px);
  font-family: var(--main-font);
  margin-bottom: 2.5%;
  color: var(--tertiary--);
}

.Project-Container p {
  font-family: var(--tertiary-font);
  font-size: clamp(16px, 3vw, 23px);
  color: var(--secondary--);
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: 2px solid rgb(152, 152, 152);
}

.Card-Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
