.container {
  padding: 1em;
  display: flex;
  font-family: sans-serif;
  font-size: 50px;
  margin-right: 10px;
}
.container li {
  list-style-type: none;
}

.image-container {
  z-index: 1;
  position: absolute;
  float: right;
  margin-left: 65%; /* Adjust the margin as needed for spacing */
}

@media screen and (min-width: 770px) {
  #image-1 {
    max-width: 190px;
  }
}

@media screen and (max-width: 769px) {
  #image-1 {
    max-width: 100px;
    border-radius: 15px;
  }
}
