@keyframes wave {
  0%,
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

#wave:hover {
  display: inline-block;
  font-size: 1em;
  animation: wave 1s infinite;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>✋</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
/* wave element */

.container {
  box-sizing: border-box;
  /* border: 2px solid yellow; */
  width: 100vw;
  font-family: sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: space-between;
}

.word-container {
  /* border: 2px solid black; */
  margin-top: 5%;
  margin-left: 5%;
}

.container li {
  list-style-type: none;
}

.image-container {
  /* border: 2px solid pink; */
  margin-top: 5%;
  margin-right: 5%;
}

#image-1 {
  vertical-align: middle;
  max-width: 17vw;
  border-radius: 5%;
}

.button-container {
  padding-top: 5%;
}

@media screen and (max-width: 769px) {
  #image-1 {
    max-width: 100px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 390px) {
  .container {
    padding: 1em;
    display: flex;
    font-family: sans-serif;
    font-size: 35px;
    margin-right: 10px;
  }

  .image-container {
    z-index: 1;
    position: fixed;
    right: 22vw;
    bottom: 4vh;
    margin-left: 65%; /* Adjust the margin as needed for spacing */
  }

  #image-1 {
    max-width: 200px;
    border-radius: 15px;
  }
}
