body {
  line-height: 1;
}

.accordion {
  width: 70vw;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

.item {
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 2px solid rgb(72, 72, 72);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: var(--quaternary--);
}

.title {
  font-size: 1.5em;
  color: var(--quinary--);
  font-weight: 300px;
  font-family: var(--tertiary-font);
}

.date {
  font-size: 80px;
  font-weight: 300px;
  color: #343a40;
  font-family: sans-serif;
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item:hover {
  transition: 0.5s;
  background-color: rgb(170, 234, 255);
  color: black;
}

/* OPEN STATE */
.open {
  transform: 0.5s;
  border-top: 4px solid rgb(0, 191, 255);
  background-color: #343a40;
  color: white;
}

.open .date,
.open .number,
.open .title {
  transform: 0.5s;
  color: rgb(0, 191, 255);
}
