.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1% 0.5%;
}

.card-container {
  width: 18vw;
  box-sizing: border-box;
  background: var(--secondary--);
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
  transition: 0.3s ease;
}

.card-container:hover {
  transition: 0.5s;
  background-color: rgb(170, 234, 255);
  .imageCard-container {
    transition: 0.5s;
    transform: scale(1.1);
  }
  .card-title {
    color: var(--primary--);
  }
  .card-text {
    color: var(--septenary--);
  }
  cursor: pointer;
}

.imageCard-container {
  box-sizing: inherit;
  display: block;
  object-fit: cover;
  transition: 0.3s ease;
}

.imageCard-container img {
  width: 18vw;
  height: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.card-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  display: flex;
  font-size: clamp(10px, 8vw, 20px);
  font-family: var(--main-font);
  font-weight: 400;
  padding: 3% 4%;
  transition: 0.3s ease;
  color: white;
}

.card-text {
  padding: 2% 4%;
  font-size: clamp(10px, 8vw, 15px);
  font-family: var(--secondary-font);
  color: var(--quinary--);
  transition: 0.3s ease;
}

.tag-container {
  padding: 4% 4% 4% 4%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: var(--quaternary--);
  color: white;
  padding: 8px;
  border-radius: 15px;
}

.pop-title-container {
  box-sizing: inherit;
  display: flex;
  flex-direction: row-reverse;
}

.pop-image {
  box-sizing: inherit;
  object-fit: contain;
}

.image-button-container {
  box-sizing: inherit;
  display: flex;
  justify-content: center;
}

.image-button {
  box-sizing: inherit;
  background-color: var(--quinary--);
  border-radius: 10px;
  border: none;
  padding: 8px;
  margin: 10px;
}

.image-button.active {
  background-color: var(--quaternary--);
}

.image-button:hover {
  background-color: var(--quaternary--);
  cursor: pointer;
}

.pop-title {
  box-sizing: inherit;
  display: flex;
  flex-direction: row;
  font-size: clamp(25px, 5vw, 35px);
  font-family: var(--main-font);
  padding: 3% 3%;
  color: var(--quaternary--);
}

.popup-subtitle {
  box-sizing: inherit;
  font-size: clamp(16px, 6vw, 25px);
  font-family: var(--secondary-font);
  color: var(--septenary--);
  padding: 0% 3%;
}

.pop-content {
  box-sizing: inherit;
  font-size: clamp(15px, 3vw, 18px);
  font-family: var(--tertiary-font);
  padding: 3% 3%;
  border-bottom: none;
  font-weight: 500;
}

.pop-content-container {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  padding: 0% 3% 5% 3%;
}

.close-btn {
  box-sizing: inherit;
  width: 35px;
  height: 35px;
  margin: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 3;
}

svg:hover {
  .close-btn-1 {
    stroke: var(--quaternary--);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Set a high z-index to ensure it appears above other elements */
}

.pop-inner {
  box-sizing: border-box;
  overflow: hidden;
  margin: 5%;
  width: 50vw;
  max-height: 70vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

/* Media query for smaller screens */
@media (max-width: 1500px) {
  .pop-inner {
    width: 60vw;
    height: 75vh;
  }
}

/* Media query for even smaller screens */

@media (max-width: 768px) {
  .pop-inner {
    width: 8vw;
  }
}

@media (max-width: 375px) {
  .pop-inner {
    width: 95vw;
  }

  .pop-content,
  .popup-subtitle {
    display: none;
  }
}
