.nav-wrapper2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--primary--);
}

.navbar li {
  box-sizing: content-box;
  display: inline-block;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--secondary-font);
  cursor: pointer;
  color: var(--secondary--);
  margin: 1rem;
}

.navbar li a:hover {
  color: var(--tertiary--);
}

.buttonContact {
  border: 2px solid var(--quaternary--);
  color: var(--quaternary--) !important;
  padding: 0.5rem;
}

.buttonContact:hover {
  border: 2px solid var(--tertiary--);
  color: var(--tertiary--) !important;
}

/* This is for logo Brandon Chin */

/* #letter {
  display: inline-block;
  transition: transform 0.2s;
}
#letter:hover {
  transform: translateY(-2px);
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary--);
  cursor: default;
} */

/* Below Are CSS for Mobile Device */

#mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    width: 100vw;
    background: var(--primary--);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  #mobile {
    display: block;
    background: var(--primary--);
  }

  .navbar li {
    padding: 20px 100vh;
    color: var(--secondary--);
    margin: 0;
  }

  .navbar.active {
    right: 0px;
    opacity: 1;
  }

  #icon {
    font-size: 40px;
    color: var(--secondary--);
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    align-self: flex-end;
    padding: 1rem;
  }

  .buttonContact {
    border: 2px solid var(--secondary--);
    margin-bottom: 2px !important;
  }
}
