.start-container {
  display: block;
  box-sizing: border-box;
  /* border: 2px solid black; */
  width: 75vw;
  margin: 5% auto;
  overflow: hidden;
}

.start-container h1 {
  font-size: 70px;
  overflow: hidden;
  margin-bottom: 20px;
}

.start-container p {
  font-size: 18px;
}
