.story-container {
  box-sizing: border-box;
  /* border: 2px blue solid; */
  padding: 1.5em;
  width: 40vw;
  margin: 10% 5%;
  padding: 0px;
  overflow: hidden;
}

.paragraph {
  color: black;
  font-size: 1.2rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: 2rem;
}

#story-space {
  display: block;
  height: 1em;
}

.paragraph-1 {
  font-weight: bold;
}
