.About-Wrapper {
  display: flex;
  flex-direction: row;
}

.Story-Container {
  box-sizing: border-box;
  padding-top: 1.5em;
  margin: 15% 8% 15% 15%; /* top right bottom left */
  overflow: hidden;
}

.About-Title {
  color: var(--tertiary--);
  font-family: var(--main-font);
  font-size: clamp(30px, 4vw, 60px);
}

.Subtitle-Container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-size: clamp(22px, 2vw, 30px);
  border-bottom: 2px solid rgb(152, 152, 152);
  padding-bottom: 2%;
}

.Content-Type {
  font-family: var(--secondary-font);
  color: var(--quaternary--);
}

.Content-Sub {
  color: var(--secondary--);
}

.Paragraph {
  color: var(--secondary--);
  font-family: var(--tertiary-font);
  font-size: clamp(16px, 3vw, 20px);
}

.Paragraph-1 {
  color: var(--quinary--);
}

.Image-Container {
  margin-right: 13%;
  margin-top: 15%; /* Centers the container horizontally */
  padding: 2rem; /* Adjust the padding to set the desired margin */
  box-sizing: border-box; /* Includes padding in the total width */
}

.Image-Self {
  max-width: 300px;
  min-width: 60px; /* Ensures the image will not exceed the parent container's width */
  height: auto; /* Maintains the aspect ratio */
  display: block;
  border-radius: 10px; /* Removes any extra space under the image */
}

.Skill-List {
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .About-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Image-Self {
    display: none;
  }
}

.College {
  text-decoration: none;
  color: var(--quaternary--);
  position: relative;
  z-index: 1;
}

.College::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--quaternary--);
  bottom: -1px;
  left: 0;
  z-index: -1;
  transition: width 0.3s ease;
}

.College:hover::before {
  width: 100%;
}
