@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Montserrat:wght@800&family=Orienta&display=swap");
:root {
  --primary--: #212529;
  --secondary--: #6c757d;
  --tertiary--: #f8f9fa;
  --quaternary--: #50c2ff;
  --quinary--: #adb5bd;
  --senary--: rgb(152, 152, 152);
  --septenary--: #343a40;
  --octonary--: rgb(72, 72, 72);

  --main-font: "Montserrat";
  --secondary-font: "Orienta", sans-serif;
  --tertiary-font: "Carrois Gothic", sans-serif;
}

/* 
For title
font-size: clamp(45px, 5vw, 80px);
For Subtitle
font-size: clamp(30px, 3vw, 50px);
For Secondary SubTitle
font-size: clamp(25px, 5vw, 30px);
For Content
font-size: clamp(18px, 5vw, 20px); 


*/
